#gltf-loading {
    visibility: hidden;
    border: 2px solid #1f7987;
    background: #dbdbdb;
    text-align: center;
    border-radius: 20px;
    padding: 20px;
    position: fixed;
    z-index: 9999;
    bottom: 21px;
    font-size: 15px;
    word-wrap: break-word;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    left: 50%;
    transform: translate(-50%, 0%);
}

#gltf-loading.show {
    visibility: visible;
    -webkit-animation: gltffadein 1.0s;
    animation: gltffadein 1.0s;
}

#gltf-loading.hide {
    -webkit-animation: gltffadeout 1.0s;
    animation: gltffadeout 1.0s;
}

@-webkit-keyframes gltffadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes gltffadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes gltffadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0; visibility: hidden;}
}

@keyframes gltffadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0; visibility: hidden;}
}
