html,
body {
    margin: 0;
    overflow: hidden;
}

.leave-button {
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    color: black;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
    top: 15px;
    left: 15px;
    margin: auto;
    position: absolute;
    z-index: 9999;

    animation: iconfadein 2s;
    -moz-animation: iconfadein 2s; /* Firefox */
    -webkit-animation: iconfadein 2s; /* Safari and Chrome */
    -o-animation: iconfadein 2s; /* Opera */
    animation-fill-mode: forwards;
}

.leave-button:active,
.leave-button:hover {
    background-color: #ef2d5e;
}

@keyframes iconfadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
