.leave-button {
    background-color: rgba(0, 0, 0, 0.20);
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
    margin: auto;

    animation: iconfadein 2.0s;
    -moz-animation: iconfadein 2.0s; /* Firefox */
    -webkit-animation: iconfadein 2.0s; /* Safari and Chrome */
    -o-animation: iconfadein 2.0s; /* Opera */
    animation-fill-mode: forwards;
}

.screen-share {
    text-align: center;
    position: fixed;
    left: 50%;
    width: 1000px;
    margin-left: -500px;
    border: 5px solid;
    border-radius: 10px;
    padding: 5px;
}

.leave-button:active,
.leave-button:hover {
    background-color: #ef2d5e;
}

@keyframes iconfadein {
    0% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
