[submodule "aframe"]
	path = aframe
	url = https://github.com/conix-center/aframe
[submodule "apriltag/emscripten/apriltag"]
	path = apriltag/emscripten/apriltag
	url = https://github.com/AprilRobotics/apriltag.git
[submodule "models"]
	path = models
	url = https://github.com/conix-center/ARENA-core-models/
