node_modules/
dist/
src/components/vendor/
**/static/vendor/**
*.min.js
*_wasm.js
webxrios.js
build/third-party/*
CHANGELOG.md
*.gltf
static/arenaxr-bootstrap/arenaxr-bootstrap.css
package.json
package-lock.json
src/components/thickline/lib/THREE.MeshLine.js
src/systems/armarker/camera-capture/base64-binary.js
