<!-- <style>
    body {
        padding-top: 60px;
    }

    /* fix padding under menu after resize */
    @media screen and (max-width: 767px) {
        body {
            padding-top: 60px;
        }
    }

    @media screen and (min-width:768px) and (max-width: 991px) {
        body {
            padding-top: 110px;
        }
    }

    @media screen and (min-width: 992px) {
        body {
            padding-top: 60px;
        }
    }
</style> -->

<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Navbar brand -->
        <a class="navbar-brand" href="/user/scenes">ARENA</a>

        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
            data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- {% if user.is_authenticated %} -->
                <li class="nav-item">
                    <a class="nav-link" href="/build">Builder</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/arts">Runtime</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/network">Network</a>
                </li>
                <!-- {% endif %} -->
                <li class="nav-item">
                    <a class="nav-link" href="/storemng">File Store</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://atlas.conix.io">ATLAS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://arena.conix.io">Documentation</a>
                </li>
            </ul>
            <!-- Left links -->

            <!-- Navbar dropdown -->
            <ul class="navbar-nav ml-auto">
                <!-- {% if user.is_authenticated %} -->
                <!-- Dropdown menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-mdb-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{user.get_username}}</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/user/profile">Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/user/logout">Logout</a>
                    </div>
                </li>
                <!-- {% else %} -->
                <li class="nav-item">
                    <a class="nav-link" href="/user/login">Login</a>
                </li>
                <!-- {% endif %} -->
            </ul>

        </div>
        <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->
<!-- <div class="page-header">
    <div class="clearfix">
    </div>
</div> -->
