body {
	font-family: Arial, Helvetica, sans-serif;
}

* {
	box-sizing: border-box;
}


/* Button used to open the chat form - fixed at the bottom of the page */

.chat-button-group {
	position: fixed;
	bottom: 21px;
	z-index: 9999;
	left: 10px;
	/*left: 50%;
  transform: translate(-50%, 0%);*/
}


/* Button used to open the chat form - fixed at the bottom of the page */

.chat-button {
	background: rgba(255, 255, 255, 1) url("data:image/svg+xml;utf8,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 1000 1000' enable-background='new 0 0 1000 1000' xml:space='preserve'%3E%3Cmetadata%3E Svg Vector Icons : http://www.onlinewebfonts.com/icon %3C/metadata%3E%3Cg%3E%3Cpath d='M881.1,720.5H434.7L173.3,941V720.5h-54.4C58.8,720.5,10,671.1,10,610.2v-441C10,108.4,58.8,59,118.9,59h762.2C941.2,59,990,108.4,990,169.3v441C990,671.1,941.2,720.5,881.1,720.5L881.1,720.5z M935.6,169.3c0-30.4-24.4-55.2-54.5-55.2H118.9c-30.1,0-54.5,24.7-54.5,55.2v441c0,30.4,24.4,55.1,54.5,55.1h54.4h54.4v110.3l163.3-110.2H500h381.1c30.1,0,54.5-24.7,54.5-55.1V169.3L935.6,169.3z M717.8,444.8c-30.1,0-54.4-24.7-54.4-55.1c0-30.4,24.3-55.2,54.4-55.2c30.1,0,54.5,24.7,54.5,55.2C772.2,420.2,747.8,444.8,717.8,444.8L717.8,444.8z M500,444.8c-30.1,0-54.4-24.7-54.4-55.1c0-30.4,24.3-55.2,54.4-55.2c30.1,0,54.4,24.7,54.4,55.2C554.4,420.2,530.1,444.8,500,444.8L500,444.8z M282.2,444.8c-30.1,0-54.5-24.7-54.5-55.1c0-30.4,24.4-55.2,54.5-55.2c30.1,0,54.4,24.7,54.4,55.2C336.7,420.2,312.3,444.8,282.2,444.8L282.2,444.8z'/%3E%3C/g%3E%3C/svg%3E") 50% 50% no-repeat;
	/*  -webkit-filter: invert(100%);
           filter: invert(100%);  */
}

.users-button {
	background: rgba(255, 255, 255, 1) url("data:image/svg+xml;utf8,%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 388.227 388.227' style='enable-background:new 0 0 388.227 388.227;' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M194.113,190.505c36.691,0,66.438-36.129,66.438-80.695c0-44.567-9.768-80.696-66.438-80.696 c-56.672,0-66.438,36.129-66.438,80.696C127.676,154.376,157.422,190.505,194.113,190.505z'/%3E%3Cpath d='M319.455,310.459c-1.229-77.637-11.369-99.759-88.959-113.763c0,0-10.924,13.917-36.381,13.917 c-25.457,0-36.379-13.917-36.379-13.917c-76.744,13.85-87.502,35.645-88.916,111.24c-0.115,6.173-0.168,6.497-0.189,5.78 c0.004,1.343,0.01,3.826,0.01,8.157c0,0,18.473,37.239,125.475,37.239s125.477-37.239,125.477-37.239 c0-2.782,0.002-4.718,0.004-6.033C319.576,316.283,319.533,315.424,319.455,310.459z'/%3E%3Cpath d='M286.313,176.097c29.801,0,53.959-29.343,53.959-65.539c0-36.197-7.932-65.54-53.959-65.54 c-7.742,0-14.404,0.833-20.135,2.388c10.631,19.598,12.088,43.402,12.088,62.403c0,21.514-5.832,42.054-16.572,59.061 C269.076,173.48,277.441,176.097,286.313,176.097z'/%3E%3Cpath d='M388.111,273.521c-1-63.055-9.234-81.022-72.252-92.396c0,0-8.871,11.304-29.547,11.304c-0.855,0-1.684-0.026-2.5-0.063 c13.137,5.923,25.088,14.17,33.889,26.238c15.215,20.863,18.713,48.889,19.435,90.062c42.397-8.378,51.086-25.873,51.086-25.873 c0-2.28,0-3.844,0.004-4.913C388.209,278.256,388.174,277.582,388.111,273.521z'/%3E%3Cpath d='M101.912,176.097c8.873,0,17.236-2.617,24.621-7.226c-10.74-17.007-16.572-37.547-16.572-59.061 c0-19.002,1.457-42.806,12.086-62.403c-5.73-1.555-12.391-2.388-20.135-2.388c-46.027,0-53.957,29.343-53.957,65.54 C47.955,146.754,72.113,176.097,101.912,176.097z'/%3E%3Cpath d='M104.412,192.365c-0.814,0.037-1.643,0.063-2.5,0.063c-20.676,0-29.547-11.304-29.547-11.304 c-63.016,11.374-71.252,29.34-72.25,92.396c-0.065,4.062-0.098,4.735-0.115,4.358c0.002,1.069,0.004,2.633,0.004,4.913 c0,0,8.69,17.495,51.084,25.873c0.725-41.172,4.221-69.198,19.438-90.062C79.326,206.536,91.275,198.288,104.412,192.365z'/%3E%3C/g%3E%3C/svg%3E") 50% 50% no-repeat;
	/*  -webkit-filter: invert(100%);
           filter: invert(100%);  */
}

.users-button,
.chat-button {
	background-size: 90% 90%;
	border: 0;
	bottom: 0;
	cursor: pointer;
	min-width: 58px;
	min-height: 34px;
	/* 1.74418604651 */
	/*
    In order to keep the aspect ratio when resizing
    padding-top percentages are relative to the containing block's width.
    http://stackoverflow.com/questions/12121090/responsively-change-div-size-keeping-aspect-ratio
  */
	padding-right: 0;
	padding-top: 0;
	transition: background-color .05s ease;
	-webkit-transition: background-color .05s ease;
	border-radius: 8px;
	touch-action: manipulation;
	/* Prevent iOS double tap zoom on the button */
}

.users-button {
	margin-left: 5px;
}

.users-button:active,
.users-button:hover,
.chat-button:active,
.chat-button:hover {
	background-color: #ef2d5e;
}

.chat-button resethover {
	background-color: rgba(0, 0, 0, 0.35);
}

.users-button resethover {
	background-color: rgba(0, 0, 0, 0.35);
}


/* The popup chat - hidden by default */

.users-popup,
.chat-popup {
	display: none;
	width: 310px;
	position: fixed;
	bottom: 70px;
	left: 10px;
	margin: 0 auto;
	border: 3px solid #646464;
	z-index: 9999;
	height: 330px;
	background-color: rgb(255, 255, 255);
	/* Fallback color */
	background-color: rgba(255, 255, 255, 0.5);
	/*left: 50%;
  transform: translate(-50%, 0%);*/
}


/* Add styles to the form container */

.form-container {
	max-width: 300px;
	padding: 10px;
	margin-left: 2px;
	background-color: rgb(255, 255, 255);
	/* Fallback color */
	background-color: rgba(255, 255, 255, 0);
}


/* Full-width textarea */

.form-container textarea {
	width: 100%;
	margin: 0px 0 0px 0;
	border: none;
	resize: none;
	height: 30px;
	background-color: rgba(221, 221, 221, 0.5);
}


/* When the textarea gets focus, do something */

.form-container textarea:focus {
	background-color: rgba(200, 200, 200, 0.5);
  border: 1px solid #646464;
	outline: none;
}


/* Set a style for the submit/send button */

.form-container .btn {
	padding: 15px 25px;
	border: none;
	cursor: pointer;
	opacity: 0.8;
}

.form-container .btn {
	background: rgba(100, 100, 100, 0.5) url("data:image/svg+xml;utf8,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M174.545,302.545H81.455c-6.982,0-11.636,4.655-11.636,11.636s4.655,11.636,11.636,11.636h93.091 c6.982,0,11.636-4.655,11.636-11.636S181.527,302.545,174.545,302.545z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M139.636,244.364H46.545c-6.982,0-11.636,4.655-11.636,11.636s4.655,11.636,11.636,11.636h93.091 c6.982,0,11.636-4.655,11.636-11.636S146.618,244.364,139.636,244.364z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M104.727,186.182H11.636C4.655,186.182,0,190.836,0,197.818s4.655,11.636,11.636,11.636h93.091 c6.982,0,11.636-4.655,11.636-11.636S111.709,186.182,104.727,186.182z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M463.127,155.927c-3.491-4.655-11.636-5.818-16.291-2.327l-123.345,94.255c-12.8,9.309-30.255,9.309-43.055,0 L157.091,153.6c-4.655-3.491-12.8-3.491-16.291,2.327c-3.491,4.655-3.491,12.8,2.327,16.291l124.509,94.255 c10.473,8.145,23.273,11.636,34.909,11.636s25.6-3.491,34.909-11.636L460.8,172.218 C465.455,168.727,466.618,160.582,463.127,155.927z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M477.091,104.727H104.727c-6.982,0-11.636,4.655-11.636,11.636S97.745,128,104.727,128h372.364 c6.982,0,11.636,4.655,11.636,11.636v232.727c0,6.982-4.655,11.636-11.636,11.636H104.727c-6.982,0-11.636,4.655-11.636,11.636 c0,6.982,4.655,11.636,11.636,11.636h372.364c19.782,0,34.909-15.127,34.909-34.909V139.636 C512,119.855,496.873,104.727,477.091,104.727z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M461.964,340.945l-69.818-69.818c-4.655-4.655-11.636-4.655-16.291,0s-4.655,11.636,0,16.291l69.818,69.818 c2.327,2.327,5.818,3.491,8.145,3.491s5.818-1.164,8.146-3.491C466.618,352.582,466.618,345.6,461.964,340.945z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") 50% 50% no-repeat;
}

.form-container .sel {
	padding: 0px 0px;
	border: none;
	cursor: pointer;
	margin-right: 29px;
	width: 200px;
	height: 35px;
	opacity: 0.8;
	font-size: 12px;
	background-color: rgba(221, 221, 221, 0.5);
}

.form-container .sel:focus {
	background-color: rgba(200, 200, 200, 0.5);
  border: 1px solid #646464;
	outline: none;
}

/* Add some hover effects to buttons */

.form-container .btn:hover,
.open-button:hover {
	opacity: 1;
}

.close {
	padding-left: 3px;
	color: #505050;
	float: left;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
  color: #c80000;
  text-decoration: none;
  cursor: pointer;
}

.test {
	background: #000;
}

.user-list,
.message-list {
	font-size: 12px;
	line-height: 18px;
	overflow-y: auto;
	position: relative;
	border: 1px solid #646464;
	background-color: rgb(255, 255, 255); /* Fallback color */
	background-color: rgba(255, 255, 255, 0);
}

.user-list {
	height: 255px;
	min-height: 255px;
	margin: 10px 10px 10px 10px;
	width: 280px;
}

.message-list {
	height: 200px;
	min-height: 100px;
	margin: 20px 10px 10px 10px;
	width: 265px;
}

.msg {
	background: #72b8ff;
	border-radius: 20px;
	display: inline-block;
	padding: 10px;
	color: #fff;
	font-weight: lighter;
	font-size: small;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, .3);
	margin: 0px;
	position: relative;
	max-width: 250px;
	word-wrap: break-word;
}

.msg.other {
	float: left;
	clear: both;
	border-top-left-radius: 0px;
  background-color: rgba(100, 100, 100, 0.5);
  color: #3c3c3c;
}

.msg.self {
	float: right;
	clear: both;
	border-top-right-radius: 0px;
	/*background: #00D025;*/
  background-color: rgba(200, 200, 200, 0.5);
  color: #3c3c3c;
}

.status {
	font-size: 11px;
	opacity: 0.5;
	margin: 0px;
}

.status.other {
	clear: both;
	float: left;
}

.status.self {
	clear: both;
	float: right;
}

.user-list ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.user-list ul li {
	border: 1px solid #ddd;
	margin-top: -1px;
	padding: 1px;
	text-decoration: none;
	font-size: 10px;
	color: black;
	display: block;
	position: relative;
  height: 30px;
  line-height: 30px;
	background-color: rgba(240, 240, 240, 0.5);
}

/*.user-list ul li:hover {
	background-color: #eee;
}*/

.users-list-btn {
	background: rgba(0, 0, 0, 0.1) url("data:image/svg+xml;utf8,%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 493.242 493.242' style='enable-background:new 0 0 493.242 493.242;' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M325.42,277.975v38.539c81.537,12.266,129.332,42.092,129.332,64.984c0,29.521-79.18,70.689-208.131,70.689 c-128.95,0-208.131-41.169-208.131-70.689c0-22.893,47.796-52.719,129.35-64.984v-38.555C77.221,290.91,0,326.248,0,381.498 c0,70.912,127.07,109.18,246.621,109.18s246.621-38.267,246.621-109.18C493.242,326.248,416.039,290.927,325.42,277.975z'/%3E%3Cpath d='M167.395,222.214c7.088,0,13.492-4.189,16.313-10.691l15.088-34.571v178.053c0,10.737,8.699,19.436,19.438,19.436 c10.737,0,19.435-8.699,19.435-19.436V235.819h17.922v119.186c0,10.737,8.699,19.436,19.438,19.436 c10.738,0,19.436-8.699,19.436-19.436V176.936l15.087,34.588c2.82,6.501,16.315,10.691,16.315,10.691 c5.99,0,11.613-3.026,14.896-8.046c3.298-5.035,3.824-11.358,1.418-16.87l-36.737-84.28c-6.66-15.277-21.763-25.171-38.444-25.171 h-40.735c-16.682,0-31.785,9.877-38.444,25.171l-36.754,84.28c-2.39,5.496-1.864,11.835,1.435,16.87 C155.778,219.187,161.387,222.214,167.395,222.214z'/%3E%3Cpath d='M246.621,74.321c12.73,0,23.865-6.692,30.221-16.712c3.538-5.545,5.657-12.092,5.657-19.151 c0-19.835-16.074-35.893-35.878-35.893c-19.803,0-35.861,16.059-35.861,35.893c0,7.06,2.117,13.607,5.641,19.166 C222.771,67.629,233.891,74.321,246.621,74.321z'/%3E%3C/g%3E%3C/svg%3E%0A") 50% 50% no-repeat;
}

.users-list-btn {
	cursor: pointer;
	position: absolute;
	top: 50%;
	right: 0px;
	padding: 11px 11px;
  border: 2px solid #464646;
	transform: translate(0%, -50%);
}

.users-list-btn:hover {
	background-color: #ef2d5e;
}

.dot {
	height: 10px;
	width: 10px;
	background-color: #e81a39;
	border-radius: 50%;
	display: none;
	position: absolute;
	left: 10px;
	top: 2px;
}


/* intro modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

/* intro modal Content */
.modal-content {
  background-color: rgba(30, 30, 30, 0.8); /* Black w/ opacity */
  margin: auto;
  border: 1px solid #888;
  width: 700px;
  text-align: center;
  color: #ffffff;
}

.intro_img {
  padding: 20px 20px 20px 5px;
  margin 0 auto 0 auto;
}
