#icons-div-container {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #404040;
    opacity: 0.66;
    min-width: 65px;
}

#icons-div-container:hover {
    opacity: 0.9;
}

#icons-div-expand {
    width: 100%;
    background-color: #111111;
    font-size: 24px;
    cursor:pointer;
}

#icons-div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 5px 5px 0;
}



.flipVideo {
    position: absolute;
    top: 15px;
    left: 15px;
    border-radius: 10px;
    z-index: 9999;
    transform: scale(-1, 1);
    -moz-transform: scale(-1, 1); /* Firefox */
    -webkit-transform: scale(-1, 1); /* Safari and Chrome */
    -o-transform: scale(-1, 1); /* Opera */
}

.arena-icon-button {
    background: rgba(0, 0, 0, 0) 50% 50% no-repeat;
    background-size: 60% 60%;
    border: 0;
    margin-bottom: 10px;
    cursor: pointer;
    min-width: 55px;
    min-height: 55px;
    padding-right: 0;
    padding-top: 0;
    transition: background-color .25s ease;
    -webkit-transition: background-color .25s ease;
    z-index: 9999;
    touch-action: manipulation; /* Prevent iOS double tap zoom on the button */
    opacity: 0;

    animation: iconfadein 1.0s;
    -moz-animation: iconfadein 1.0s; /* Firefox */
    -webkit-animation: iconfadein 1.0s; /* Safari and Chrome */
    -o-animation: iconfadein 1.0s; /* Opera */
    animation-fill-mode: forwards;
}

.arena-icon-button:active,
.arena-icon-button:hover {
    background-color: #ef2d5e;
}

@media screen and (max-height: 640px) {
    #icons-div {
        top: 20px;
        right: 20px;
    }

    .arena-icon-button {
        min-width: 45px;
        min-height: 45px;
        margin-bottom: 5px;
    }
}

@keyframes iconfadein {
    0% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

.settings-popup {
    bottom: auto !important;
    left: auto  !important;
    width: 300px !important;
    height: 340px !important;
    top: 10px;
    right: 100px;
    font-size: small;
    overflow: auto;
}

/* Echo the user display name */
.echo-name {
    position: absolute;
    display: none;
    padding-left: 5px;
    padding-right: 5px;
    top: 15px;
    left: 15px;
    border-radius: 10px;
    z-index: 10000; /* layered over video*/
    font-size: small;
    background-color: #0008;
    color: #fff;
}
