body {
    background-color: #32364d;
}
.title-logo {
    max-height: 32px;
}
#avSetup {
    z-index: 999;
    position: relative;
    background-color: rgba(0,0,0,0.6)
}

.max-vh-100 {
    max-height: 100vh !important;
}


