.alert-box {
	position: fixed;
	bottom: 30px;
	left: 10px;
	z-index: 9999;
	border-radius: 5px;
	border: 20px;
    min-width: 350px;
    line-height: 50px; 
    padding-left: 10px;
    padding-right: 10px;
	background: #ffffff;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #707070;
	left: 50%;
	transform: translate(-50%, 0%);
  box-shadow: 0px 0px 10px 10px rgba(224, 224, 224, 0.50);
  display: none; 
  color: #5c5c5c
}

.alert-title {
  font-weight: bold;
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.alert-body {
  font-weight: normal;
  font-size: 15px;
  border: 0px;
  padding: 0px;
}

.alert-closebtn {
  position: absolute;
  top: 0px;
  right: 5px;
  font-weight: bold;
  float: right;
  font-size: 20px;
  line-height: 20px;
  cursor: pointer;
}

.alert-timeout {
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: 0px;
  height: 5px;
  background: #e3e3e3;
  border-radius: 5px;
}

.alert-progress {
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: 0px;
  height: 10px;
  background: #5cb6ed;
}

.alert-icon {
  color: #4db8fa;
}

.alert-table {
  margin: 15px auto;
  table-layout: auto;
  width: 80%;
}

.alert-table.error {
  font-weight: bold;  
  color: #ba1509;
}

.alert-table.normal {
  font-weight: normal;  
}

.alert-table tr { line-height: 16px; }
