name: Build Docker Image

on:
  workflow_dispatch:
      
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Build and push Docker image
        id:   docker_build
        uses: docker/build-push-action@v2
        with:
          build-args: |
            chash=${{ github.sha }}
            version="dev"
          push: false

      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
